<h2 class="card__title">{{name}}</h2>
<div class="card__data_colums">
    <ul>
        <li class="card__item">
            <h3 class="card__subtitle">Capital:</h3>
            {{capital}}
        </li>
            
        <li class="card__item">
            <h3 class="card__subtitle">Population:</h3>
            {{population}}
        </li>
            
        <li class="card__item">
            <h3 class="card__subtitle">Languages:</h3>
            <ul>
                {{#each languages}}
                <li class="card__subitem">{{this.name}}</li>
                {{/each}}
            </ul>
        </li>
    </ul>

    <div >
        <img src="{{flag}}" alt="flag {{name}}" class="card__image">
    </div>
</div>